* {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Crimson Text', serif;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.header {
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.9);
	height: auto;
}

.header a {
	text-decoration: none;
}

.header-wrap {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	padding-left: 88px;
	padding-right: 88px;
}

.logo {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

.knife {
	width: 70%;
	height: auto;
}

.img {
	-webkit-transition: transform 0.5s ease;
	   -moz-transition: transform 0.5s ease;
	    -ms-transition: transform 0.5s ease;
	     -o-transition: transform 0.5s ease;
	        transition: transform 0.5s ease;
}

.img:hover {
	-webkit-transform: scale(1.3);
	   -moz-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	     -o-transform: scale(1.3);
	        transform: scale(1.3);
}

.logo-text {
	padding: 20px 15px;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	color: white;
}

#nav-opener {
	display: none;
}

.nav ul {
	list-style: none;
}

.header .logo a {
	text-decoration: none;
	color: white;
	padding: 20px;
}

.main_nav {
	display: flex;
	padding-top: 10px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.main_nav li {
	padding: 0 10px;
}

.main_nav>li>a {
	display: inline-block;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.4px;
	color: white;
	letter-spacing: 0.4px;
}

.main_nav>li>a:hover {
	color: #d89b64;
	text-decoration: underline;
}

.next-nav {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-decoration: none;
	list-style: none;
	left: 0;
}

.next-nav a {
	display: block;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 40px;
	text-align: right;
}

.next-nav a:hover {
	color: #D89B64;
	border-bottom: 1px solid #D89B64;
}

.arrow {
	color: #485471;
	font-family: "Crimson Text";
	font-size: 24px;
	font-style: italic;
	line-height: 36px;
}

.down {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
}

.btn {
	border: 1px solid #263045;
	background: none;
	color: #d49963;
	padding: 15px 30px;
	text-transform: uppercase;
	-webkit-transition: transform 1s ease;
	   -moz-transition: transform 1s ease;
	    -ms-transition: transform 1s ease;
	     -o-transition: transform 1s ease;
	        transition: transform 1s ease;
}

.btn:hover {
	-webkit-transform: translate(-5px, -10px);
	   -moz-transform: translate(-5px, -10px);
	    -ms-transform: translate(-5px, -10px);
	     -o-transform: translate(-5px, -10px);
	        transform: translate(-5px, -10px);
	border-color: #d89b64;
	color: #fff;
}

.article h1 {
	color: #151b28;
	font-family: Montserrat;
	font-size: 45px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
	margin: 0;
	padding: 20px;
}

.article p {
	color: #8b909d;
	font-family: "Crimson Text";
	font-size: 20px;
	font-style: italic;
	line-height: 36px;
	margin: 0;
	padding: 20px;
}

.article {
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: auto;
	     -o-background-size: auto;
	        background-size: auto;
	text-align: center;
	margin: 0 auto;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-wrap {
	display: flex;
	width: 100%;
}

.article-1, .article-2 {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    background-position: center;
	display: inline-flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 490px;
	position: relative;
}

.article-1 h1 {
	color: #d89b64;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
	letter-spacing: 1.02px;
}

.article-1:hover h1 {
	color: #151b29;
}

.article-1 p {
	color: #ffffff;
	font-family: "Crimson Text";
	font-size: 22px;
	font-style: italic;
	line-height: 36px;
}

.article-1:hover p {
	color: #8b909d;
}

.article-1:before {
	opacity: 0.5;
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity, transform 0.5s linear;
		   -moz-transition: opacity, transform 0.5s linear;
		    -ms-transition: opacity, transform 0.5s linear;
		     -o-transition: opacity, transform 0.5s linear;
		        transition: opacity, transform 0.5s linear;	
}

.article-1:hover:before {
	opacity: 0;
}

.article-1:hover {
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	     -o-transform: scale(1.2);
	        transform: scale(1.2);
}

main a {
	color: #d89b64;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
	letter-spacing: 0.58px;
}

.url {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	margin: 50px 0;
	padding: 0;
	-webkit-transition: transform 1s linear;
	   -moz-transition: transform 1s linear;
	    -ms-transition: transform 1s linear;
	     -o-transition: transform 1s linear;
	        transition: transform 1s linear;
}

.url:hover a {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	     -o-transform: scale(1.2);
	        transform: scale(1.2);
	color: black;
}

.article-dish {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    background-position: center;
	display: inline-flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 700px;
	position: relative;
}

.white {
	width: 40%;
}

.dishes {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: auto;
	text-align: center;
	margin: 39px;
	border: 1px solid black;
}

.dishes h1 {
	color: #161b29;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
}

.dishes p {
	color: #8b909d;
	font-family: "Crimson Text";
	font-size: 24px;
	font-style: italic;
	line-height: 36px;
}

.dishes button {
	width: 50%;
	margin: 0 auto;
	background: none;
	margin-bottom: 50px;
	font-size: 13px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
	letter-spacing: 0.58px;
	color: #D89B64;
	text-decoration: underline;
}

.btn-2 {
	-webkit-border-radius: 5%;
	        border-radius: 5%;
	-webkit-transition: transform 1s ease;
	   -moz-transition: transform 1s ease;
	    -ms-transition: transform 1s ease;
	     -o-transition: transform 1s ease;
	        transition: transform 1s ease;
}

.btn-2:hover {
	-webkit-transform: translate(-5px, -10px);
	   -moz-transform: translate(-5px, -10px);
	    -ms-transform: translate(-5px, -10px);
	     -o-transform: translate(-5px, -10px);
	        transform: translate(-5px, -10px);
	border-color: #d89b64;
	color: black;
}

.article-2:before {
	opacity: 0;
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity, transform 0.5s linear;
		   -moz-transition: opacity, transform 0.5s linear;
		    -ms-transition: opacity, transform 0.5s linear;
		     -o-transition: opacity, transform 0.5s linear;
		        transition: opacity, transform 0.5s linear;	
}


.article-2:hover:before {
	opacity: 0.5;
}

.article-2 h2 {
	color: #d89b64;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 84.35px;
	text-transform: uppercase;
}

.article-2 p {
	color: #8b909d;
	font-family: "Crimson Text";
	font-size: 22px;
	font-style: italic;
	line-height: 36px;
}

.footer-logo {
	position: relative;
	padding: 10px;
}

.round {
	border: 1px solid #b1b4bd;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	position: absolute;
    left: 48%;
    top: -25%;
    background: #fff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    -webkit-transition: transform 0.5s ease;
       -moz-transition: transform 0.5s ease;
        -ms-transition: transform 0.5s ease;
         -o-transition: transform 0.5s ease;
            transition: transform 0.5s ease;
}

.round:hover {
	-webkit-transform: scale(1.3);
	   -moz-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	     -o-transform: scale(1.3);
	        transform: scale(1.3);
	background-color: black;
	border: 5px solid #d89b64;
}

.footer {
	text-align: center;
}

.footer h2 {
	color: #161b29;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 36.07px;
}

.footer p {
	color: #8b909d;
	font-family: "Crimson Text";
	font-size: 18px;
	font-style: italic;
	line-height: 36px;
}

.social {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	margin-bottom: 50px;
}

.wrap {
	list-style: none;
	display: flex;
	margin-left: -35px;
}

.wrap li {
	margin: 10px;
}


.hover {
	-webkit-transition: transform 0.5s linear;
	   -moz-transition: transform 0.5s linear;
	    -ms-transition: transform 0.5s linear;
	     -o-transition: transform 0.5s linear;
	        transition: transform 0.5s linear;
}

.hover:hover {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
	border: 3px solid black;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}