@media (max-width: 767px) {

	.main-wrap {
		display: block;
	}

	.header-wrap {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.header-wrap.new {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding-left: 44px;
		padding-right: 44px;
	}

	.next-nav {
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.arrow p {
		font-size: 10px;
	}

	.img a {
		width: 10%;
		height: auto;
	}

	.btn {
		font-size: 10px;
		margin-bottom: 10px;
	}

	.header {
		padding-left: 0;
	}

	.header-img {
		padding: 0;
	}

	.arrow {
		text-align: center;
	}

	.round {
		left: 45%;
	}

	.dishes h1 {
		font-size: 30px;
	}

	.dishes p {
	font-size: 18px;
	}

	.dishes button {
	font-size: 8px;
	}

	.nav {
		display: none;
	}

	#nav-opener {
		display: block;
		border: none;
		background: none;
		padding-right: 20px;
	}
}

@media (max-width: 1023px) {
	.main-wrap {
		display: block;
	}
}