@media (max-width: 868px) {

	.main-wrap {
		display: block;
	}

	.arrow p {
		font-size: 10px;
	}

	.btn {
		font-size: 10px;
	}

	.header {
		padding-left: 0;
	}

	.arrow {
		text-align: center;
	}

	.round {
		left: 45%;
	}

	.dishes h1 {
		font-size: 30px;
	}

	.dishes p {
	font-size: 18px;
	}

	.dishes button {
	font-size: 8px;
	}

	.nav {
		display: none;
	}

	#nav-opener {
		display: block;
		border: none;
		background: none;
		padding-right: 20px;
	}
}